body {
	background-color: lightblue;
}

h1 {
	text-align: center;
}
#elenco{
	padding-left:10%;
}



nav {
	padding-left:25%;
}

#modAsta{
	padding-left:18%;
}


footer {
	text-align: right;
}

article h1 {
	text-align: center;
	color: black;
}

article {
	display: block;
	text-align: justify;
}

article p {
	padding-bottom: 1em;
}

table {
	text-align: center;
	display: block;
	padding-left:15%;
	padding-right:14%;
	padding-top:2%;
	background-color: lightblue;
}

#benvenuto {
	text-align: center;
	color: yellow;
}

#log {
	padding-left:1%;
	
}


#tabAnnunci {
	text-align: center;

	padding-left:15%;
	background-color: lightblue;
}

#canvas_mappa {
	width: 80%;
	height: 80%;
	margin-left: 100px;
}

#canvas_mappa1 {
	width: 100%;
	height: 80%;
}

#portfolio {
	width: 80%;
	height: 80%;
	margin-left: 100px;
}

#btnCancella, #btnCancellaAnnuncio, #btnCancellaRecensione {
	margin-left: 15%;
}

#btnAffitti, #btnVendita{
	padding-left: 60%;
	padding-bottom: 1%;
	
}
#groupbt {
	padding-left: 32%;
	margin-bottom: 1%;
}

#btnInvia {
	margin-left: 510px;
	margin-top: 5px;
}

#navbarMenu {
	margin-left: 40px;
}


#campoEta,#CampoValutazione{
	width:17%;
}

#bottoni {
	margin-left: 70%;
	margin-top: 2%;
}

#benvenuto{
	margin-top: 5%;
}


#profiles{
	padding-left:35%;	
}

#btnModificaAnnuncio{
	margin-right: 10px;	
}

#PrezzoLabel{
		margin-left: 80px;	
}
#timer{
	margin-left: 100px;	
	background-color: lightblue;
}
#rigaTimer{
		background-color: lightblue;
}
#btnProposta{
	
		margin-left: 43%;	
		margin-bottom: 10px;
}

#notautorized{
	padding-left:19%;
	
}


#btnCancellaAsta{
	margin-left: 15%;
}
#btnModificaAsta{
	margin-left: 45%;
	display: block;
}

select.tipologia{
	height:5%;
	width:19%;

}
select.campoSesso,select.CampoPermessi,select.tipologia1{
	height:5%;
	width:17%;
}
#ordinaper{
		margin-left: 45%;
	
	
}
/*

input[type="date"] {
	 

     display: -webkit-inline-flex;
     font-family: monospace;
     overflow: hidden;
     padding: 0;
     -webkit-padding-start: 1px;

  
 }


 input::-webkit-datetime-edit-fields-wrapper { background: silver; }
 input::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
 input::-webkit-datetime-edit-month-field { color: blue; }
 input::-webkit-datetime-edit-day-field { color: green; }
 input::-webkit-datetime-edit-year-field { color: purple; }
 input::-webkit-inner-spin-button { display: none; }
 input::-webkit-calendar-picker-indicator { background: orange; }


nav{
	overflow:hidden;
	background-color: black;
}
nav li{
	display: inLine;
	padding: 18px 60px;
}
nav li a:link {
	color: yellow;
}
nav li a:visited{
	color: yellow;
}*/